@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300;1,500&display=swap');

:root {
    --send: rgb(9, 199, 224);
    --fundo_nav: rgba(41, 79, 99, 0.477);
    --fundo_section: rgb(20, 54, 102);
    --fundo_btn: rgba(33, 77, 148, 0.911);
    --fundo_btnHover: rgba(8, 62, 148, 0.751);
    --txt: rgb(11, 11, 11);
    --txt_white: rgb(255, 255, 255);
    --txt_Mblack: rgb(30, 29, 29);
    --color_button: #19bc8b;
    --font_header: Verdana;
    --font_principal: 'Fira';

    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
}
/* --fundo_section: rgb(31, 61, 104); */