.btn{
    display: inline-block;
    padding: 15px 60px;
    background: #111;
    color: #d9d7d7;
    border-radius: 5px;
    transition: background 500ms ease;
    
    font-size: 1.1rem;
    text-transform: uppercase;
}

.btn:hover{
    cursor: pointer;
    background: #000;
}