#navbar {
    width: 100%;
    height: 65px;
    background: var(--fundo_nav);
    color: var(--txt);
    position: fixed;
    border-radius: 5px;
}

.logo { 
    width: 100px;
}

#navbar-container {
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

#navbar-itens {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-itens li {
    font-family: var(--font_principal);
    font-weight: 400;
    padding: 15px;
    color: var(--txt);
}

#navbar-itens li:hover {
    color: var(--txt_Mblack);
}