#navbar {
    width: 100%;
    height: 65px;
    background: #dcdbdb;
    color: #0e0e0e;
    position: fixed;
}

.logo { 
    width: 100px;
}
#navbar-container {
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

#navbar-itens {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-itens li {
    padding: 15px;
    color: #333;
}

#navbar-itens li:hover {
    color: #000;
}