.titles {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    letter-spacing: 2px;
    padding-bottom: 50px;
}

#tools {
    width: 100%;
    background: #fff;
    color: #111;
    padding: 50px;
}


#tools-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 15px;
}

.toolsIcons {
    display: inline-block;
    width: 25%;
}

/* Projeto */
#project {
    width: 100%;
    background: #111;
    color: #eee;
    padding: 50px;
}

#project-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.frame-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.frames {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 20px;
    border-radius: 5px;
}
/* codigo */
#code{
    width: 100%;
    padding: 50px;
}

#code-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#infos{
    width: 500px;
}

#infos .info{
    display: flex;
    padding: 10px;
    margin: 30px 0;

    font-size: 1.2rem;
}

.codeImg{
    width: 700px;
}
/* Integrantes do grupo */
#grupo{
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
}

#grupo-container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aluno{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background: #333;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

.aluno .aluno-img{
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 15px;
}
/* Fotos */

#imagens{
    width: 90%;
    margin: auto;
    padding: 50px;
}

#imagens-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: center;
}

#imagem-galeria{
    display: inline-block;
    width: 460px;
    height: 280px;
    border-radius: 5px;
}
/* Footer */
#footer{
    display: flex;
    background: #222;
    color: #eee;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}


#footericons .footer-icone{
    width: 60px;
    height: 60px;
}